{
    {{ if (eq (getv "/self/container/service_index") "1") }}"bootstrap": true,{{else}}
    "retry_join": [{{ $containerName := getv "/self/service/containers/0"}}"{{getv (printf "/containers/%s/primary_ip" $containerName)}}"],
    "bootstrap": false,{{end}}
    "server": true,
    "datacenter": "dc1",
    "data_dir": "/var/consul",
    "verify_incoming": false,
    "verify_outgoing": false,
    "log_level": "INFO"
}
